@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
body{
    background-color: #e7f6ff;
}
.container{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
    max-width: 1140px;
    margin : 50px auto;
}
.header-left{
    display: flex;
    flex-direction:row;
}
.header-logo{
    margin-top: 43px;
    margin-left: 45px;
    width: 40px;
    height: 40px;
}
.header-info{
    margin-left: 16px;
    font-size: 10px;
    font-weight: 700;
    font-family: Inter;
}
.header-name{
    margin-top: 43px;
}
.header-text{
    margin-top: -10px;
    color: #9D9D9D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
ul{
    list-style:none ;
    display: flex;
    color: #5C5C5C;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
header{
    display: flex;

}
.shopping-backet{
    margin-left: 392px;
    width: 18px;
    height: 17.182px;
    margin-top: 36px;
}
.bascket-text{
    margin-left: 10px;
    color: #5C5C5C;
}
.heart{
    margin-left: 32px;
    width: 18.11px;
    height: 16.299px;
    margin-top: 36px;
}
.heart-text{
    margin-left: 7.89px;
}
.profile-picture{
    margin-left: 32px;
    width: 18px;
    height: 18px;
    margin-top: 34px;
}
.profile-text{
    margin-left: 8px;
}
.line{
    display: flex;
    flex-direction: row;
}
.h1{
    margin-top: 39xp;
    margin-left: 60px;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}
.sneakers{
    width: 210px;
    height: 260px;
    border-radius: 40px;
    border: 1px solid #F3F3F3;
    background: #FFF;
    margin-left: 60px;
    margin-top: 40px;
}
.heartSneakers{
    width: 32px;
    height: 32px;
    margin-top: 29px;
    margin-left: 30px;
    flex-shrink: 0;
    position : absolute;
}
.sneakerspic{
    margin-left: 33px;
    margin-top: 20px;
}
.sneakersText{
    margin-top: 15px;
    margin-left: 31px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 150px;
}
.sneakersPrice{
    color: #BDBDBD;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    margin-left: 30px;
}
.addSneakers{
    margin-left: 90px;
    width: 80px;
    height: 32px;
}
.pr{
    display: flex;
    flex-direction: row;
}
.priceAmount{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin-left: 30px;
    position: relative;
    margin-top: -10px;
}
.unheartBackground{
    width: 32px;
    height: 32px;
    margin-top: 24px;
    margin-left: 30px;
    border-radius: 7px;
    border: 1px solid #F8F8F8;
    background: #FFF;
    flex-shrink: 0;
    position : absolute;
}
.unheartSneakers{
    width: 16px;
    height: 16px;
    margin: 8px;
}
.addedGreen{
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background: linear-gradient(180deg, #89F09C 0%, #3CC755 100%);
    margin-left: 90px;
}
.checkMark{
    width: 10.667px;
    height: 10.667px;
    margin-top: 10px;
    margin-left: 10px;
}
.sneakersChoosen{
    width: 210px;
    height: 260px;
    border-radius: 40px;
    border: 1px solid #F3F3F3;
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
    background: #FFF;
    margin-left: 60px;
    margin-top: 40px;
}
.karusel{
    width: 960px;
    height: 300px;
    border-radius: 20px;
    margin-top: 45px;
}
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner {
    display: flex;
    width: 300%;
    transition: transform 0.5s;
}
.carousel-item {
    flex: 1;
    text-align: center;
}
.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}
.container1{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
    max-width: 1140px;
    margin : 50px auto;
    height: 1105px;
}  